<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Войти</title>
  <link rel="stylesheet" href="login.css" />
</head>
<body>
  <div class="login-container">
    <img src="../icons/logo.png" alt="Logo" class="logo" />
    <h2>Войти</h2>
    <form id="login-form" novalidate>
      <div class="input-block">
        <label for="email">Адрес электронной почты</label>
        <input type="email" id="email" required />
        <span class="error-text">Обязательно</span>
      </div>
      <div class="input-block">
        <label for="password">Пароль</label>
        <input type="password" id="password" required />
      </div>
      <a href="#" class="forgot-password">Забыли пароль?</a>
      <button type="submit" id="submit-btn" disabled>Войти</button>
    </form>
    <div class="divider"><span>или войти с</span></div>
    <div class="socials">
      <button class="social steam"></button>
      <button class="social facebook"></button>
      <button class="social google"></button>
      <button class="social apple"></button>
    </div>

    <a href="" class="New-acc">Создать учетную запись</a>

    <a href="" class="policy">Политика конфиденциальности</a>
  </div>
  <script src="script.js"></script>
</body>
</html>
