body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #101014;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #121216;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  background-color: #1e1e22;
  color: white;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 15px;
  font-size: 15px;
  transition: border 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #666;
  background-color: #1e1e22;
}

input:valid,
input:invalid {
  background-color: #1e1e22;
  box-shadow: none;
}

.error-text {
  font-size: 12px;
  color: red;
  display: none;
}

.forgot-password {
  font-size: 15px;
  color: #25b1f2;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: #2f2f33;
  color: white;
  cursor: not-allowed;
}

button[type="submit"].active {
  background-color: #007bff;
  cursor: pointer;
}

.divider {
  margin: 30px 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #333;
}

.divider span {
  padding: 0 12px;
  font-size: 15px;
  color: #888;
}

.socials {
  display: flex;
  gap: 16px;
  width: 100%;
}

.social {
  flex: 1;
  height: 48px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.social.steam { background-color: #2b6c9a; background-image: url('../icons/steam.png'); background-size: 35%;}
.social.facebook { background-color: #2f84f3; background-image: url('../icons/facebook.png'); background-size: 65%;}
.social.google { background-color: #fefdfd; background-image: url('../icons/google.png'); background-size: 80%;}
.social.apple { background-color: #ffffff; background-image: url('../icons/apple.png'); background-size: 70%;}


.New-acc {
  padding-top: 20px;
  color: #25b1f2;
}

.policy {
  padding-top: 15px;
  color: #25b1f2;
}